<body bgcolor="{{ colour }}">
  <div>
    <form method="POST" action="/setcolour">
      <input id="blue" type="radio" name="colour" value="268cf2">
      <label for="268cf2">Blue</label>
      <input id="green" type="radio" name="colour" value="26f27d">
      <label for="26f27d">Green</label>
      <input id="yellow" type="radio" name="colour" value="e1e512">
      <label for="e1e512">Yellow</label>
      <input id="purple" type="radio" name="colour" value="d60ac5">
      <label for="d60ac5">Purple</label>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</body>
